name: Auto-Merge

on:
  pull_request:
    types: [labeled]
  check_suite:
    types: [completed]

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: >
      github.event.pull_request.labels &&
      contains(toJSON(github.event.pull_request.labels.*.name), 'auto-pr')
    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Auto-merge PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge ${{ github.event.pull_request.number }} \
            --repo ${{ github.repository }} \
            --squash \
            --auto \
            --delete-branch
